$orange:        #F2582C;
$yellow:       #FEBC0C;
$green:        #85BD0C;
$turquoise:  hsl(209, 49%, 32%) !default; //hsl(173, 60%, 40%) !default
$cyan: hsl(174, 34%, 33%) !default;
$blue: hsl(208, 51%, 38%) !default;

$purple: hsl(352, 41%, 39%) !default;
$red: hsl(350, 49%, 29%) !default;

$primary: #016497;
$info: hsl(195, 26%, 52%) !default;
$success: #85BD0C;
$warning: #FEBC0C;
$danger: #7a272f;


//$box-radius: 4px !default
//$box-padding: 0rem !default

$mini-tablet: 900px;
$navbar-height: 3.50rem;
$navbar-breakpoint: $mini-tablet;

$table-cell-border-dark: none;
$body-line-height: 1.5; //15 defult 1.5
$body-size: 16px;//12px; default 16px


$modal-background-background-color-dark: rgba(31, 61, 88, 0.96);
$modal-content-width: 60%;

$dimensions: 16 20 24 32 48 64 96 128 140 210  !default

